Repository voxpupuli/puppet-fail2ban, pull requests merged in 2018-08, with the labels that each got.

#81 release 2.3.0
  CHANGELOG.md
Labels: skip-changelog

#82 modulesync 1.9.6
  .msync.yml
  .travis.yml
  Gemfile
  spec/spec_helper_acceptance.rb
Labels: modulesync

#83 release 2.4.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#86 Bugfix for broken epp templates
  manifests/jail.pp
  spec/classes/init_spec.rb
  spec/defines/fail2ban_jail_spec.rb
Labels: bug
