Repository voxpupuli/puppet-fail2ban, pull requests merged in 2018-07, with the labels that each got.

#73 modulesync 1.9.3
  .msync.yml
  .travis.yml
  Gemfile
Labels: modulesync

#77 Use the actual default Debian Stretch configuration for jail.conf
  metadata.json
  templates/stretch/etc/fail2ban/jail.conf.erb
Labels: enhancement

#78 release 2.3.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
