Repository voxpupuli/puppet-fail2ban, pull requests merged in 2018-05, with the labels that each got.

#56 Remove config_file_ensure
  README.md
Labels: docs

#43 Use os structured fact instead of flat lsb facts
  manifests/config.pp
Labels: enhancement

#42 Add configuration option for iptables_chain
  README.md
  manifests/init.pp
  spec/acceptance/class_spec.rb
  spec/classes/init_spec.rb
  spec/defines/define_spec.rb
  templates/Carbon/etc/fail2ban/jail.conf.erb
  templates/Core/etc/fail2ban/jail.conf.erb
  templates/Final/etc/fail2ban/jail.conf.erb
  templates/Maipo/etc/fail2ban/jail.conf.erb
  templates/Santiago/etc/fail2ban/jail.conf.erb
  templates/Tikanga/etc/fail2ban/jail.conf.erb
  templates/jessie/etc/fail2ban/jail.conf.erb
  templates/precise/etc/fail2ban/jail.conf.erb
  templates/stretch/etc/fail2ban/jail.conf.erb
  templates/trusty/etc/fail2ban/jail.conf.erb
  templates/wheezy/etc/fail2ban/jail.conf.erb
  templates/xenial/etc/fail2ban/jail.conf.erb
Labels: enhancement

#59 release 2.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#60 Add ignoreip parameter to jail class and template
  README.md
  manifests/jail.pp
  metadata.json
  templates/common/custom_jail.conf.erb
Labels: enhancement

#61 modulesync 1.9.2
  .github/CONTRIBUTING.md
  .msync.yml
  .sync.yml
  .travis.yml
  Gemfile
  spec/spec_helper.rb
Labels: modulesync

#65 Allow banaction to be Puppet managed
  README.md
  manifests/init.pp
  spec/acceptance/class_spec.rb
  spec/classes/init_spec.rb
  templates/Carbon/etc/fail2ban/jail.conf.erb
  templates/Core/etc/fail2ban/jail.conf.erb
  templates/Final/etc/fail2ban/jail.conf.erb
  templates/Maipo/etc/fail2ban/jail.conf.erb
  templates/Santiago/etc/fail2ban/jail.conf.erb
  templates/Tikanga/etc/fail2ban/jail.conf.erb
  templates/jessie/etc/fail2ban/jail.conf.erb
  templates/precise/etc/fail2ban/jail.conf.erb
  templates/stretch/etc/fail2ban/jail.conf.erb
  templates/trusty/etc/fail2ban/jail.conf.erb
  templates/wheezy/etc/fail2ban/jail.conf.erb
  templates/xenial/etc/fail2ban/jail.conf.erb
Labels: enhancement
