Repository voxpupuli/puppet-fail2ban, pull requests merged in 2020-04, with the labels that each got.

#131 Fix non namespaced extlib function
  manifests/define.pp
Labels: bug

#133 modulesync 2.12.0
  .github/CONTRIBUTING.md
  .msync.yml
  .rubocop.yml
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync

#135 Remove any lsb facts usage
  README.md
  data/Debian.yaml
  data/RedHat.yaml
  data/common.yaml
  examples/fail2ban-Debian.yaml
  examples/fail2ban-RedHat.yaml
  hiera.yaml
  manifests/init.pp
  manifests/jail.pp
  manifests/params.pp
  spec/acceptance/class_spec.rb
  spec/classes/init_spec.rb
  spec/defines/define_spec.rb
  spec/spec_helper_acceptance.rb
  templates/CentOS/6/etc/fail2ban/jail.conf.epp
  templates/CentOS/7/etc/fail2ban/jail.conf.epp
  templates/Debian/10/etc/fail2ban/jail.conf.epp
  templates/Debian/8/etc/fail2ban/jail.conf.epp
  templates/Debian/9/etc/fail2ban/jail.conf.epp
  templates/Final/etc/fail2ban/jail.conf.epp
  templates/RedHat/6/etc/fail2ban/jail.conf.epp
  templates/RedHat/7/etc/fail2ban/jail.conf.epp
  templates/Ubuntu/16.04/etc/fail2ban/jail.conf.epp
  templates/Ubuntu/18.04/etc/fail2ban/jail.conf.epp
Labels: backwards-incompatible, needs-work

#137 Add support for CentOS / RedHat 8
  .sync.yml
  .travis.yml
  README.md
  metadata.json
  spec/classes/init_spec.rb
  templates/CentOS/8/etc/fail2ban/jail.conf.epp
  templates/RedHat/8/etc/fail2ban/jail.conf.epp
Labels: enhancement

#138 Release 3.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#130 Add default_backend param defaulting to "auto"
  manifests/init.pp
  templates/CentOS/6/etc/fail2ban/jail.conf.epp
  templates/CentOS/7/etc/fail2ban/jail.conf.epp
  templates/CentOS/8/etc/fail2ban/jail.conf.epp
  templates/Debian/10/etc/fail2ban/jail.conf.epp
  templates/Debian/8/etc/fail2ban/jail.conf.epp
  templates/Debian/9/etc/fail2ban/jail.conf.epp
  templates/RedHat/6/etc/fail2ban/jail.conf.epp
  templates/RedHat/7/etc/fail2ban/jail.conf.epp
  templates/RedHat/8/etc/fail2ban/jail.conf.epp
  templates/Ubuntu/16.04/etc/fail2ban/jail.conf.epp
  templates/Ubuntu/18.04/etc/fail2ban/jail.conf.epp
Labels: enhancement

#140 Add support for multiple data types
  manifests/init.pp
  spec/classes/init_spec.rb
Labels: enhancement

#141 Release 3.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#144 Support overriding service notifications (#143)
  README.md
  manifests/config.pp
  manifests/init.pp
  spec/acceptance/class_spec.rb
  spec/classes/init_spec.rb
  templates/common/sendmail.conf.epp
Labels: enhancement
