Repository voxpupuli/puppet-fail2ban, pull requests merged in 2022-03, with the labels that each got.

#148 Fix apache-badbots on RedHat
  templates/RedHat/6/etc/fail2ban/jail.conf.epp
  templates/RedHat/7/etc/fail2ban/jail.conf.epp
Labels: bug

#158 initial support for opensuse
  README.md
  data/Suse.yaml
  manifests/config.pp
  metadata.json
  templates/OpenSuSE/15/etc/fail2ban/jail.conf.epp
Labels: enhancement

#175 modulesync 5.2.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .puppet-lint.rc
  Dockerfile
  Gemfile
  Rakefile
  spec/acceptance/class_spec.rb
  spec/classes/init_spec.rb
  spec/defines/define_spec.rb
  spec/defines/fail2ban_jail_spec.rb
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
Labels: modulesync

#173 modulesync 5.1.0
  .msync.yml
  .puppet-lint.rc
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync
