Repository voxpupuli/puppet-fail2ban, pull requests merged in 2024-09, with the labels that each got.

#209 Add tasks to ban/unban IP addresses in jails
  REFERENCE.md
  tasks/banip.json
  tasks/banip.rb
  tasks/unban.json
  tasks/unban.rb
  tasks/unbanip.json
  tasks/unbanip.rb
Labels: enhancement

#216 modulesync 9.2.0
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  Gemfile
Labels: modulesync

#217 Drop CentOS 8 support
  .sync.yml
  metadata.json
  spec/classes/init_spec.rb
Labels: backwards-incompatible

#215 Add support for Ubuntu 24.04 (noble)
  metadata.json
  spec/classes/init_spec.rb
  templates/Ubuntu/24.04/etc/fail2ban/jail.conf.epp
Labels: enhancement

#219 Move description of parameters from README to puppet-strings.
  README.md
  REFERENCE.md
  manifests/config.pp
  manifests/init.pp
  manifests/jail.pp
  manifests/service.pp
Labels: backwards-incompatible

#218 release 5.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#220 modulesync 9.3.0
  .github/workflows/release.yml
  .msync.yml
Labels: modulesync

#221 release 5.0.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#222 datatype difference for bantime, datatype erroneous restriction for findtime
  REFERENCE.md
  manifests/init.pp
  manifests/jail.pp
  spec/type_aliases/time_spec.rb
  types/time.pp
Labels: bug

#223 release 5.0.2
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#224 jail logpath can handle several files
  REFERENCE.md
  manifests/jail.pp
  spec/defines/fail2ban_jail_spec.rb
  spec/type_aliases/logpath_spec.rb
  templates/common/custom_jail.conf.epp
  types/logpath.pp
Labels: enhancement
